html, body {
  height: 100vh;
}

body {
  padding-top: 66px;
}





/* Header */
header {
  position: fixed;
  text-align: center;
  letter-spacing: 2px;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
}

nav a{
  display: inline-block;
  margin: 0.8% auto;
  padding:0 3%;
}

nav .active {
  color: #ff6089;
}

nav a:hover {
  color: #ff6089;
  transition: 0.10s;;
 }

 /*Main*/
 .title {
   text-align: center;
   font-family: 'Karla', sans-serif;
 }
 .jumbotron {
   margin-top: 5%;
   margin-bottom: 0%;
 }

.panel-heading {
  text-align: center;
}



.col-pics {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
}

.main-col:hover {
 opacity: 0.8;
 transition: 0.15s;;
}


blockquote {
  margin-top: 3%;
  margin-left: 2%;
  background: #f9f9f9;
}




/*Footer */
 .page-wrap {
   min-height: calc(100vh - 100px);
 }

 .page-wrap:after {
   content: "";
   display: block;
 }


footer, .page-wrap:after {
  text-align: center;
  font-style: italic;
  height: 90px;
}

/*Image*/
#sakura {
  display: block;
  width: 75%;
  margin: 2% auto;
  box-shadow: 3px 5px 5px #ddeeee;
  border-radius: 10px;
}





/*aboutme.html*/

.aboutme-mainlist {
  font-weight:bolder;
  list-style:none;
  line-height: 3rem;
}

#contactme {
  float: left;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

#background-list  {
  float: left;
}


.logo img{
  display: inline-flex;
  height: 32px;
  margin: 0 3px;
  width: auto;

}


#myprofilepic {
  width:  15%;
  height: auto;
  border-radius: 100%;
  border: 5px groove rgb(99, 218, 192);
}


/* myphotos.html */



.photo-portfolio img{
  width: 100%;
  margin: 2%;
  box-sizing: border-box;
  border-radius: 10px;
}



@media screen and (max-width: 767px){
  .col-pics {
    width: 50%;
    margin: 2% auto;
    border-radius: 10px;
  }
  blockquote {
    display: none;
  }

  #myprofilepic {
    width:  25%;
    height: auto;
    border-radius: 100%;
    border: 5px groove rgb(99, 218, 192);
  }

}
