html, body {
  height: 100vh;
}

.page-wrap {
  min-height: calc(100vh - 100px);
}

.page-wrap:after {
  content: "";
  display: block;
}


footer, .page-wrap:after {
  text-align: center;
  font-style: italic;
  height: 90px;
}

#sakura {
  width: 100%;
}

#myprofilepic {

}
